<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">


            <h1 style="text-align: center;">Employee Registration</h1>


<div class="row g-4">
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <label for="" class="form-label">Emp code</label>
        <input type="text" class="form-control">
     
     </div>
     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <label for="" class="form-label">Emp Name</label>
   <input type="text" class="form-control">

</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Designation</label>
<input type="text" class="form-control">
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Gender</label>
    <select name="" id="" class="form-control">
        <option value="select">-----select-----</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Others">Others</option>
        
    </select>
</div>

<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <label for="" class="form-label">Company name</label>
<input type="text" class="form-control">
</div>




<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <label for="" class="form-label">Company Address</label>
<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Salary</label>
<input type="text" class="form-control">
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Mobile no</label>
<input type="text" class="form-control">
</div>


<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Company Email id</label>
<input type="email" class="form-control">
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Year of Experience</label>
<input type="text" class="form-control">
</div>

<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Blood Group</label>
    <select name="" id="" class="form-control">
        <option value="select">-----select-----</option>
        <option value="AB+ve">AB+ve</option>
        <option value="AB-ve">AB-ve</option>
        <option value="A+ve">A+ve</option>
        <option value="B+ve">B+ve</option>
        <option value="A-ve">A-ve</option>
        <option value="B-ve">B-ve</option>
        <option value="O+ve">O+ve</option>
        <option value="O-ve">O-ve</option>
    </select>
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">DOB</label>
<input type="date" name="" id="" class="form-control">    
</div>

<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <button class="btn btn-primary">Submit</button>
    <br><br>
        </div>

</div>
</div>
</div>
</div>

